<div class="bungee-rules-header">
    Hosting
</div>
<p class="font-mono">
    As a champion you will be in charge of one competition evening. You will select the events that transpire, but your
    decision do not end there.
    The TIOT boasts a rich history of pageantry and splendor, so you must keep the tradition alive and bring your
    bravado to further your chances at victory.
    <br><br>
    After the final round, the Board of Governors shall determine who best represented the TIOT ideals.
    This can be achieved through a clever theme, a delectable hors d'oeuvre, a succulent cocktail, or fun flair that
    outshines the rest. The most creative champion will receive an extra three luxury points for their efforts. HUZZAH!
    <br><br>
    Every competition evening will conclude with the passing of the Torch of Friendship.
    It is at this time that the next host will be announced, and any necessary information about the upcoming events
    will be delivered.
    <br><br>
    *bonus points will be divided evenly in the event of a tie
</p>