<div class="bungee-rules-header">
    Tiebreakers
</div>
    <p class="font-mono">
       Tie scores shall be broken by which Champion has the most first place finishes (keeping in mind that single event rounds are worth double).
       If they are still tied, then whoever has the most second place finishes, followed by most third positions will be used.   If, after four rounds 
       this is still not enough to break the tie for first or last positon, then the remaining champions not involved in the deadlock shall host a Tiebreaker
       event (with only the tied contestants competing), to determine the supreme champion (or ultimate loser) 
    </p>
