<div class="bungee-rules-header">
    Extra Juice
</div>
        <span class="font-mono">
           Did someone say they need more juice!?!?  One of the hallmarks of THE TEXAS INVIATIONAL OPEN TOURNEMENT TM 
           is the infamous EXTRA JUICE CARD!  Over the course of the four nights, a Champion may proclaim that they "Need The Juice!" for
           a chance to earn extra moist bonus points.  This may only be done once, before an event, and only if the Champion is NOT THE HOST. Bonus points are awarded
           as described below, but beware!  If you ask for the juice and dont deliver you may be penalized!
        </span>
        <div class="font-mono">
            <br>
            <b>EJP (Extra Juice Points)</b>
        </div>
        <div class="font-mono">1st: &nbsp; 3pts</div>
        <div class="font-mono-red"><b>2nd: -2pts</b></div>
        <div class="font-mono">3rd: &nbsp; 1pt</div>
        <div class="font-mono">4th: &nbsp; 0pts</div>
