  tr.mat-header-row {
    height: 1px !important;
    text-align: center !important;
  }
  
  .mat-column-position { 
    border-bottom: none !important;
    width: 45px !important;
  }

  .mat-column-points { 
    border-bottom: none !important;
    width: 70px !important;
    text-align: center !important;
  }

  .mat-column-ejc { 
    border-bottom: none !important;
    width: 70px !important;
    text-align: right !important;
    color:rgb(253, 84, 98)
  }

  .mat-column-icon { 
    border-bottom: none !important;
    width: 60px !important;
  }
  
  .mat-column-name { 
    border-bottom: none !important;
    width: 60px !important;
  }

  .event-score-table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 288px;
    background-color: rgb(85, 85, 85);
  }

  .eventContainer{
    width: 288px;
    height: 120px;
    margin: auto;
    background-size: cover;
    background-position: center;
  }

  .eventContainerOverlay{
    width: 288px;
    height: 80px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 270px 85px;
  }

  .event-title{
    font-family: 'Bungee', cursive;
    font-size: 12px;
    padding-left: 10px;
  }
  
  .event-description{
    font-size: 10.5px;
    padding-left: 10px;
  }

  .table-spacer{
    margin-bottom: 20px;
  }
