.expansion-panel-margin{
    margin-bottom: 1rem;
}

.mat-expansion-panel-header {
    background-color: rgb(5, 5, 77);
  }

.font-mono {
    font-family: monospace;
}

.host {
    font-family: 'Bungee', cursive;
    text-align: center;
    margin-top: 5px;
    display: block;
    margin-bottom: 5px;
}

.eventContainer{
  width: 288px;
  height: 80px;
  margin: auto;
  background-position: center;
}