<div class="bungee-rules-header">
    Scoring
</div>
    <span class="font-mono">
        Excelsior Brave Champions, welcome to the Texas Invitational Open Tournament! Your requested presence is a victory in itself, as only the most elite are asked to participate. However, to win the true prize, you must showcase your abilities and dedication. 
        <br><br>
        The tournament will take place over four enchanting evenings, with one host leading their fellow champions through a maximum of two events of their choosing. 
        <br><br>
        Do you have what it takes to succeed? 
    </span>
    <div class="font-mono">
        <br>
        <b>Single Event Scoring</b>
    </div>
    <div class="font-mono">1st: 8pts</div>
    <div class="font-mono">2nd: 6pts</div>
    <div class="font-mono">3rd: 4pts</div>
    <div class="font-mono">4th: 2pts</div>

    <div class="font-mono">
        <br>
        <b>Double Event Scoring (Per Event)</b>
    </div>
    <div class="font-mono">1st: 4pts</div>
    <div class="font-mono">2nd: 3pts</div>
    <div class="font-mono">3rd: 2pts</div>
    <div class="font-mono">4th: 1pts</div>