<div class="nav-bar-container">
    <span class="nav-bar-text" (click)="openChartDialog()">
        <img src="../../assets/analytics-24px.png" class="large-icon">
        Analytics
    </span>
    <span class="nav-bar-text">
        <img src="../../assets/instagram.png" class="large-icon">&nbsp;
        Instagram
    </span>
    <span class="nav-bar-text">
        <img src="../../assets/spotify.png" class="large-icon">&nbsp;
        Playlist
    </span>
    <span class="nav-bar-text" (click)="openRulesDialog()">
        <img src="../../assets/article-24px.png" class="large-icon">
        Rules
    </span>
</div>