.logo-container{
    background-image: url('../../assets/tourney-logo.png');
    height: 420px; 
    max-width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}

.logo-container-final-results{
    background-image: url('../../assets/tourney-logo-final-results.png');
    height: 420px; 
    max-width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}